body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.products {
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}
